* {
    box-sizing: border-box;
    padding: 0rem;
    border: 0rem;
    margin: 0;
}



body {
    width: 100%;
    font-size: .8rem;
    background-color: rgb(252, 251, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    height: 3rem;
    background-color: rgb(252, 250, 250);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.options {
    position: absolute;
    top: 1rem;
    left: 31rem;
}

.options ul {
    display: flex;
    padding-right: 1rem;
    list-style: none;
    /* position: absolute;
    top: 1rem;
    left: 8rem; */

}

.options ul li {
    padding-right: 3rem;

}

.options ul li a {
    text-decoration: none;
    color: black;
}

.options ul li a:hover {
    border-bottom: 2px solid orangered;
}

ul {
    text-decoration: none;
}

.signup_login {
    display: inline-flex;
}

.signup {
    position: absolute;
    top: 0.6rem;
    right: 2rem;
    padding: 0.5rem;
}

.signup a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.signup:hover {
    background-color: orangered;
    cursor: pointer;

}

.signup a:hover {
    color: white;
}

.login {
    position: absolute;
    top: 0.6rem;
    right: 6rem;
    padding: 0.5rem;
}

.login a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.login:hover {
    background-color: orangered;
    cursor: pointer;
}

.login a:hover {
    color: white;
}

.logo {
    position: absolute;
    left: 0.3rem;
    color: blueviolet;
}

.welcomePage {
    height: 25rem;
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
}

.pageDescription {
    /* border: 2px solid red; */
    color: white;
    padding-left: 10rem;
}

.bigtext {
    /* border: 2px solid red; */
    position: absolute;
    top: 4.7rem;
    font-size: 3rem;
}

.bigtext span {
    display: block;
}

.imageSide {
    position: absolute;
    right: 0.02rem;
    top: 1rem;
    /* border: 2px solid red; */
}

.image {
    height: 20rem;
}

.smallText {
    line-height: 0.9rem;
    position: absolute;
    top: 12rem;
    font-size: 0.7rem;
}

button {
    background-color: orangered;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.btn {
    position: absolute;
    top: 16rem;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
}

.r1,
.r2,
.r3,
.r4 {
    margin: 0rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.service-mssg {
    text-align: center;
    font-size: larger;
}

.services {
    height: 10rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */

}

.delivery {
    background-color: rgb(214, 206, 202);
    height: 11rem;
    width: 10rem;
    position: relative;
}

.delivery:hover {
    background-color: orangered;
    color: white;

}

.delivery-icon {
    position: absolute;
    left: 3.8rem;
    top: 1rem;
}

.delivery-icon-img {
    height: 35px;
    width: 35px;
    padding: .4rem;
    background-color: white;
    border-radius: 50rem;
}


.Delivery-service {
    font-size: 1rem;
    text-align: center;
    /* border: 2px solid red; */
    position: absolute;
    top: 4rem;
    left: 1.2rem;
}

.Delivery-service-des {
    width: 8rem;
    font-size: 0.8rem;
    text-align: center;
    /* border: 2px solid red; */
    position: absolute;
    top: 6rem;
    left: 1rem;
}

.Twenty4hours {
    background-color: rgb(214, 206, 202);
    height: 11rem;
    width: 10rem;
    margin-left: 5rem;
    position: relative;
}

.Twenty4hours-icon {
    position: absolute;
    left: 3.8rem;
    top: 1rem;
}


.Twenty4hours-icon-img {
    height: 35px;
    width: 35px;
    padding: .4rem;
    background-color: white;
    border-radius: 50rem;
}

.Twenty4hours:hover {
    background-color: orangered;
}

.reservation {
    background-color: rgb(214, 206, 202);
    height: 11rem;
    width: 10rem;
    margin-left: 5rem;
    position: relative;
}

.reservation-icon {
    position: absolute;
    left: 3.8rem;
    top: 1rem;
}

.reservation-icon-img {
    height: 35px;
    width: 35px;
    padding: .4rem;
    background-color: white;
    border-radius: 50rem;
}

.reservation:hover {
    background-color: orangered;
}


.menu {
    margin-top: 2rem;
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem
}

.explore-menu {
    text-align: center;
    font-size: larger;
}

.dishes {
    height: 24rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

}



.dish-images {
    width: 9.7rem;
    height: 6rem;
}

.dishes-col1 {
    height: 11rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.dishes-col1-row1,
.dishes-col1-row2,
.dishes-col1-row3 {
    height: 11rem;
    width: 10rem;
    /* border: 2px solid red; */
    position: relative;
}

.dishes-col2 {
    height: 11rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.dishes-col2-row1,
.dishes-col2-row2,
.dishes-col2-row3 {
    height: 11rem;
    width: 10rem;
    /* border: 2px solid red; */
    position: relative;
}

.dish-name {
    font-size: larger;
    font-family: monospace;
    position: absolute;
    top: 6.6rem;
}

.price {
    position: absolute;
    right: 0.3rem;
    bottom: 0.4rem;
}

.cartBtn {
    position: absolute;
    bottom: 0.4rem;
    left: 0.0rem;
    border-radius: 1rem;
    cursor: pointer;
}

.feedback-section {
    width: 100%;
    height: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-content {
    width: 40rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.feedback-image {
    width: 15rem;
    height: 12rem;
    position: absolute;
    top: 1rem;
}

.h2-text {
    position: absolute;
    top: 0.3rem;
    width: 15rem;
}

.h2-text span {
    display: block;

}

.feedback-notice {}

.feedback-msg {
    width: 15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.comment {
    position: absolute;
    bottom: 1rem;

}

.comment button {
    border-radius: 2rem;
}

.footer-section {
    margin-top: 3rem;
    width: 100%;
    height: 24rem;
    border: 2px solid red;
    background-color: #000;
}



@media only screen and (max-width: 900px) {
    body {
        /* background-color: lightblue; */
    }

    .options {
        position: absolute;
        top: 1rem;
        left: 9rem;
    }

    .image {
        height: 15rem;
    }

    .pageDescription {
        padding-left: 1rem;
    }
}